html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% 200%;
  background-position: center;

}

input {
  outline: none;
}

.main {
  min-height: 100vh;
}

.content {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  max-width: 800px;
  width: 90%;
  background: rgba(0, 14, 41, 0.6);
}

.panel-2 {
  max-width: 1100px;
  width: 90%;
  background: rgba(0, 14, 41, 0.6);
  max-height: 500px;
  overflow: auto;
}

.input-background {
  background: rgba(25, 25, 25, 0.5);
}

.btn {
}

.btn-red {
  background: #9a1948;
  color: white;
  transition: 200ms;
}

.btn-red:hover {
  background: #8c113e;
}

.btn-disabled {
  background: #d3d3d3;
  cursor: not-allowed;
}

.btn-secondary {
  background: #311a56;
}

.table-header-backgorund {
  background: rgba(25, 25, 25, 0.6);
  border-bottom: 1px solid #6e5169;
}

.table-row-backgorund {
  background: rgba(50, 50, 50, 0.6);
  border-bottom: 1px solid #6e5169;
}

th,
td {
  padding: 15px;
  padding-left: 30px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
