html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.main {
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
